<form [formGroup]="form" (ngSubmit)="salvar()">
  <label class="form-label">Nome</label>
  <input type="text" class="form-control" formControlName="nome" />
  <div
    class="error"
    *ngIf="
      form.get('nome')?.invalid &&
      (form.get('nome')?.dirty || form.get('nome')?.touched)
    "
  >
    <div *ngIf="form.get('nome')?.errors?.['required']">Nome é obrigatório</div>
  </div>

  <label class="form-label">Celular</label>
  <input type="text" class="form-control" formControlName="celular" />

  <label class="form-label">E-mail</label>
  <input type="email" class="form-control" formControlName="email" />
  <div
    class="error"
    *ngIf="
      form.get('email')?.invalid &&
      (form.get('email')?.dirty || form.get('email')?.touched)
    "
  >
    <div *ngIf="form.get('email')?.errors?.['required']">
      E-mail é obrigatório
    </div>
    <div *ngIf="form.get('email')?.errors?.['email']">
      E-mail não está no formato correto
    </div>
  </div>

  <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
    Salvar
  </button>
</form>
