<form #form="ngForm" (ngSubmit)="salvar(form)">
  <div class="form-group">
    <label for="name">Nome</label>
    <input
      [(ngModel)]="cliente.nome"
      type="text"
      class="form-control"
      id="nome"
      name="nome"
      required
    />
    <div
      *ngIf="form.submitted && form.controls['nome'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="form.controls['nome'].errors['required']">
        Nome é obrigatório
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Celular</label>
    <input
      [(ngModel)]="cliente.celular"
      type="text"
      class="form-control"
      id="celular"
      name="celular"
      required
    />
    <div
      *ngIf="form.submitted && form.controls['celular'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="form.controls['celular'].errors['required']">
        Celular é obrigatório
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">E-mail</label>
    <input
      [(ngModel)]="cliente.email"
      type="email"
      class="form-control"
      id="email"
      name="email"
      required
    />
    <div
      *ngIf="form.submitted && form.controls['email'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="form.controls['email'].errors['required']">
        E-mail é obrigatório
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
